.puzzleMarker-chalkboard {
    top: 35%;
    left: 55%;
}

.puzzleMarker-soundMachine {
    top: 48%;
    left: 15%;
}

.puzzleMarker-lockBox,
.puzzleMarker-simonMachine,
.puzzleMarker-prototypeOne {
    top: 70%;
    left: 17%;
}

.puzzleMarker-prototypeTwo {
    top: 60%;
    left: 5%;
    height: 100px;
    width: 50px;
    border: unset;
    cursor: default;
}

.puzzleMarker-pipesPassword,
.puzzleMarker-pipes {
    top: 45%;
    left: 85%;
}

.puzzleMarker-chainedCupboard {
    border: none;
    font-size: 25px;
    top: 40%;
    left: 30%;
}