.answerFormContainer {
    border: 2px solid rgba(110, 78, 25, 1);
    border-radius: 3px;
    box-shadow: 5px 5px 10px black;
    padding: 1em;
    color: rgba(110, 78, 25, 1);
    text-align: center;
    background: rgba(229, 230, 218, 0.35);
    max-width: 100%;
}

.answerForm_title {
    width: max-content;
    margin: 0 auto .25em auto;
    padding-bottom: .25em;
    border-bottom: 2px dashed rgba(110, 78, 25, 1);
}

.answerForm_subTitle {
    font-size: 1.25rem;
    margin-bottom: 1em;
}

.answerForm_form {
    border: 2px dotted rgba(110, 78, 25, 1);
    padding: 1em;
    margin: 0 1.25em 1em 1.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answerForm_form_classification {
    margin-bottom: 1em;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: baseline;
}

.answerForm_form_bookDetails {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    text-align: center;
}

.input-right {
    margin-left: 1em;
}

.answerForm_endNote {
    font-size: 1.25rem;
}

.answerForm_btn {
    font-size: 1.75rem;
}

.puzzlePopUp_text-answerForm {
    color: firebrick;
}

@media (max-width:1020px) {
    .answerFormContainer {
        font-size: 1rem;
    }
    
    .answerForm_form_bookDetails {
        flex-direction: column;
    }

    .input-right {
        margin-left: 0;
        margin-top: 1em;
    }
}