.portraitContainer {
    position: relative;
    border: 15px rgba(110, 78, 25, 0.7) groove;
    width: 50%;
    min-width: 400px;
    height: 90%;
    
    background-image: url(../../../images/puzzles/library/portrait.jpg);
    background-size: cover;
}

.portrait_btn {
	position: absolute;
    cursor: pointer;
    max-height: 100px;
    max-width: 75px;
    filter: sepia(1);
}

.portrait_btn:hover {
    filter: drop-shadow(0 0 10px yellow);
}

.portrait_btn-0 {
    top: 12%;
    left: 5%;
    max-height: 75px;
    transform: rotate(-22.5deg);
}

.portrait_btn-1 {
    top: 54%;
    left: 77%;
    max-width: 75px;
}

.portrait_btn-2 {
    top: 75%;
    left: 20%;
    max-width: 110px;
}

.portrait_btn-3 {
    top: 5%;
    left: 78%;
    max-width: 75px;
}

.portrait_btn-4 {
    top: 42%;
    left: 20%;
    transform: rotate(-22.5deg);
}

.portrait_btn-5 {
    top: 85%;
    left: 80%;
    transform: rotate(45deg);
}