.puzzleMarker-typewriter {
    top: 55%;
    left: 74%;
}

.puzzleMarker-bookcase {
    top: 75%;
    left: 30%;
}

.puzzleMarker-buttons {
    top: 55%;
    left: 87%;
}

.puzzleMarker-filing {
	top: 60%;
    left: 10%;
}

.puzzleMarker-voiceRecorder {
    top: 15%;
    left: 5%;
}

.puzzleMarker-certificate {
	top: 23%;
    left: 88%;
}

.puzzleMarker-telephone {
	top: 64%;
    left: 60%;
}

.puzzleMarker-drawer {
    border: none;
    font-size: 25px;
    top: 34%;
    left: 69%;
}