.passwordLock {
    display: grid;
    grid-gap: 1em;
    align-items: center;
    justify-items: center;
    padding: 2em;
    filter: sepia();
    background-blend-mode: lighten;
}

.passwordLock_display {
    padding: .25em;
    font-size: 1.5rem;
    margin: .15em .1em .3em .1em;
}

.passwordLock_submit {
    font-size: 1rem;
}