.telescopeContainer {
    border-radius: 50%;
    border: 10px groove goldenrod;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-top: 20px;
    background: black;
}

.telescopeImg {
    width: 100%;
    height: 100%;
}

.puzzlePopUp_cntrls-telescope {
    flex-direction: row;
    padding: 1em;
}

.telescopeInput {
    transform: rotate(90deg);
    width: 50%;
    appearance: unset;
    -webkit-appearance: none;
    appearance: none;
    height: 2px; 
    background: black;
    border-top: 3px inset black;
    border-bottom: 3px inset black;
    outline: none; 
    cursor: pointer;
    align-self: center;
}

.telescopeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 5px ridge gold;
    box-shadow: 2px -2px 5px black;
    cursor: pointer;
    height: 40px;
    width: 40px;
    background: goldenrod;
}

.telescopeInput::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 5px ridge gold;
    box-shadow: 2px -2px 5px black;
    cursor: pointer;
    height: 40px;
    width: 40px;
    background: goldenrod;
}

@media(max-width:1000px) {
    .puzzlePopUp_cntrls-telescope {
        flex-direction: column;
    }

    .telescopeContainer {
        height: 100%;
        width: auto;
    }

    .telescopeInput {
        transform: rotate(0deg);
    }
}