.puzzleContainer-cogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    width: 75%;
    height: 50%;
    padding: 0 1em 0 0; 
    margin: 0 1em 0 0;
    position: relative;
}

.cogContainer {
    position: relative;
    height: 100%;
    font-size: 5rem;
    filter: sepia(.5);
}

.theCogs_cog {
    border-radius: 50%;
    position: absolute;
    
    animation-direction: alternate, normal;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.theCogs_cog-1 {
    animation-name: five, cogRotate;
    color: rgb(213, 94, 0);
    
}

.theCogs_cog-2 {
    animation-name: nine, cogRotate;
    color: rgb(0, 158, 115);
}

.theCogs_cog-3 {
    animation-name: four, cogRotate;
    animation-direction: alternate-reverse, normal;
    top: 100%;
    left: 75%;
    color: rgb(86, 180, 233);
}

.theCogs_cog-4 {
    animation-name: two, cogRotate;
    color: rgb(204, 121, 167);
}

@keyframes cogRotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes nine {
    0% {top: 100%; left: 75%;}
    40% {top: 0%; left: 75%;}
    60% {top: 0%; left: 25%;}
    80% {top: 50%; left: 25%;}
    100% {top: 50%; left: 75%;} 
}

@keyframes four {
    0% {top: 100%; left: 75%;}
    40% {top: 0%; left: 75%;}
    70% {top: 50%; left: 0%;}
    100% {top: 50%; left: 100%;}
}

@keyframes two {
    0% {top: 25%; left: 0%;}
    10% {top: 10%; left: 25%;}
    20% {top: 0%; left: 50%;}
    30% {top: 10%; left: 75%;}
    40% {top: 25%; left: 100%;}
    80% {top: 100%; left: 0%;}
    100% {top: 100%; left: 100%;}
}

@keyframes five {
    0% {top: 0%; left: 75%;}
    20% {top: 0%; left: 0%;}
    30% {top: 25%; left: 0%;}
    50% {top: 25%; left: 75%;}
    60% {top: 50%; left: 100%;}
    70% {top: 75%; left: 100%;}
    80% {top: 100%; left: 75%;}
    100% {top: 100%; left: 0%;}
}