.locationContainer-theMachine {    
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-rows: 1fr repeat(2, 0.5fr) 0.25fr; 
    grid-template-columns: 0.75fr 0.5fr 0.5fr 1.25fr 0.75fr;
    grid-template-areas:
        'matr slid slid prog prog'
        'swit swit dial dial bigB'
        'swit swit mult mult bigB'
        'time time time time time';
}

.machine_panel-dials {grid-area: dial;}
.machine_panel-progress {grid-area: prog;}
.machine_panel-lightMatrix {grid-area: matr;}
.machine_panel-bigButton {grid-area: bigB;}
.machine_panel-rangeSliders {grid-area: slid;}
.machine_panel-switches {grid-area: swit;}
.machine_panel-multiButtons {grid-area: mult;}
.machine_panel-time {grid-area: time;}

.machine_panel {
    border-width: 2px;
    background-blend-mode: lighten;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5em;
    box-shadow: unset;
}

.machine_display,
.machine_timeDisplay {
    border: 5px inset rgba(110, 78, 25, 1);
    background: rgba(217, 193, 156, 1);
    filter: drop-shadow(2px 2px 5px black);
    cursor: default;
    outline: none;
}

.machine_panel-progress {
    justify-content: space-around;
}

.machine_display-progress {
    width: 80%;
    max-width: 350px;
    height: 50%;
    position: relative;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    background-image: url(../../../images/puzzles/theMachine/progressIndicator.png);
    background-position: bottom;
    border-width: 10px;
    filter: drop-shadow(2px 2px 5px black) sepia(.25);
}

.machine_progressDisplay_arrow {
    width: 10px;
    height: 150%;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: black;
    transform: translate(-50%, 50%) rotate(75deg);
    transition: transform 1s;
}

.machine_instructionContainer {
    display: grid;
    grid-template-columns: 1fr 2.5fr; 
    grid-gap: 1em;
    padding: 0 1em;
}

.machine_display-instruction {
    font-size: 2rem;
    color: firebrick;
    width: 100%;
}

.machine_instruction_btn {
    padding: .5em;
    font-size: 1rem;
}

.machine_lightIndicatorsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    align-items: center;
    justify-items: center;
    grid-gap: 10px 0;
    padding: 1em 0;    
}



.machine_panel-dials {
    justify-content: space-around;
    flex-direction: row;
}

.machine_dial {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: darkcyan;
    border: 4px ridge darkcyan;
    box-shadow: 2px 2px 5px black;
}

.dial_arrowContainer {
    transition: transform 1s;
    transition-timing-function: linear;
    width: 60px;
    height: 60px;
}

.dial_arrow {
    width: 0;
	height: 0;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
	border-bottom: 10px solid black;
    margin: 7px auto;
}

.dial_numberContainer {
    height: 250%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.dial_numberContainer-2 {
    transform: translate(-50%, -50%) rotate(90deg);
}

.dial_numberContainer-2 * {
    transform: rotate(-90deg);
}

.dial_number {
    font-size: 1.5rem;
    padding: .05em .15em;
    margin: unset;
    border: unset;
    background: transparent;
    outline: none;
    filter: drop-shadow(2px 2px 5px black);
    
}

.dial_number:hover {
    filter: unset;
}

.machine_panel-bigButton {
    justify-content: space-around;
}

.machine_display-bigButton {
    height: 2.5rem;
    width: 90%;
    font-size: 2rem;
    text-align: center;
    overflow: hidden;
}

.bigButton_tempIndicator {
    background: firebrick;
    height: 100%;
    width: 100%;
    transition: transform .75s;
}

.machine_bigButton {
	width: 150px;
    height: 150px;
    border-radius: 50%;
    background: crimson;
    border: 5px ridge firebrick;
    filter: drop-shadow(2px 2px 10px black);
    outline: none;
    font-size: 1.25rem;
}

.machine_bigButton:hover,
.machine_bigButton:focus {
    background: firebrick;
}
 
.machine_bigButton:active {
    filter: unset;
    background: crimson;
}

.machine_panel-multiButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    padding: 2em;
    grid-gap: 0 10px;
}

.machine_multiButton {
    filter: drop-shadow(2px 2px 7px black);
    outline: none;
    padding: unset;
    font-size: 1rem;
}

.machine_multiButton:active {
    filter: unset;
}

.machine_panel-switches {
	justify-content: space-around;
}

.switches_displayContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.machine_display-switches {
    width: 6rem;
    height: 7rem;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    overflow: hidden;
}

.machine_display-switches-overheat {
    color: transparent;
}

.switches_img {
    max-width: 90%;
    max-height: 90%;
}

.machine_switchesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.machine_switch {
    width: 50px;
    margin: 1.5em;
}

.machine_rangeSlider,
.machine_switch {
    -webkit-appearance: none;
    appearance: none;
    height: 2px; 
    background: black;
    border-top: 3px inset black;
    border-bottom: 3px inset black;
    outline: none; 
    cursor: pointer;
}

.machine_switch::-webkit-slider-thumb {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: gold;
}

.machine_switch::-moz-range-thumb {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: gold;
}

.machine_rangeSlider::-webkit-slider-thumb,
.machine_switch::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 3px ridge black;
    box-shadow: 2px -2px 5px black;
    cursor: pointer;
}

.machine_rangeSlider::-moz-range-thumb,
.machine_switch::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 3px ridge black;
    box-shadow: 2px -2px 5px black;
    cursor: pointer;
}

.machine_rangeSlider::-webkit-slider-thumb:hover,
.machine_rangeSlider::-webkit-slider-thumb:focus,
.machine_switch::-webkit-slider-thumb:hover,
.machine_switch::-webkit-slider-thumb:focus {
    background: firebrick;
}

.machine_rangeSlider::-moz-range-thumb:hover,
.machine_rangeSlider::-moz-range-thumb:focus {
    background: firebrick;
}

.machine_rangeSlider {
    transform: rotate(270deg);
    width: 80%;
    position: absolute;
}

.machine_rangeSlider::-webkit-slider-thumb {
    width: 35px;
    height: 35px;
    border-radius: 2px;
    background: rgba(194, 143, 62, 1);
}

.machine_rangeSlider::-moz-range-thumb {
    width: 35px;
    height: 35px;
    border-radius: 2px;
    background: rgba(194, 143, 62, 1);
}

.machine_panel-rangeSliders {
    position: relative;
    flex-direction: row;
    padding: 0;
}

.machine_rangeSlider-left {
    top: 50%;
    left: 0;
    transform: translate(-20%, -50%) rotate(270deg);
}

.machine_rangeSlider-right {
    top: 50%;
    right: 0;
    transform: translate(20%, -50%) rotate(270deg);
}

.rangeSlider_scaleContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    transform: rotate(90deg);
    font-size: 1.75rem;
    padding: 0 .25em;
}

.rangeSlider_scaleContainer * {
    transform: rotate(-90deg);
    filter: drop-shadow(1px 1px 2px black);
}

.machine_panel-time {
    flex-direction: row;
    font-size: 3rem;
    justify-content: space-around;
    color: firebrick;
}

.machine_timeDisplay {
    width: 90%;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(60, 1fr);
    grid-gap: 5px;
    padding: 5px;
}

.machine_time_block {
    width: 100%;
    height: 100%;
    background: darkGreen;   
}

.machine_time_block-red {
    background: firebrick;
}

.puzzlePopUp_text-ending {
    margin-bottom: 3em;
    color: firebrick;
    font-size: 1.75rem;
}

@media (max-width: 900px) {
    .locationContainer-theMachine { 
        grid-template-rows: repeat(4, 1fr) 0.75fr 0.25fr; 
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'prog prog'
            'bigB matr' 
            'mult slid'
            'swit slid'
            'dial dial'
            'time time';
    }
}