.switchPanel {
    display: grid;
    grid-template-rows: .5fr 1fr .5fr;
    align-items: center;
    filter: sepia(.5);
    height: 75%;
}

.switchPanel p {
    padding-left: .75em;
    font-size: 2.5rem;
    filter: drop-shadow(2px 2px 5px black);
}

.switchPanel_switchesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 4em 0;
    width: 80%;
    margin: 0 auto;
}

.switchPanel_switch {
    transform: rotate(90deg);
    width: 50%;
    appearance: unset;
    -webkit-appearance: none;
    appearance: none;
    height: 2px; 
    background: black;
    border-top: 3px inset black;
    border-bottom: 3px inset black;
    outline: none; 
    cursor: pointer;
    margin: .5em .5em;
}

.switchPanel_switch::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 3px ridge black;
    box-shadow: 2px -2px 5px black;
    cursor: pointer;
    height: 90px;
    width: 40px;
    border-radius: 50%;
    background: firebrick;
}

.switchPanel_switch::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 3px ridge black;
    box-shadow: 2px -2px 5px black;
    cursor: pointer;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: gold;
}