.puzzleMarker-darts {
    top: 20%;
    left: 21%;
}

.puzzleMarker-cellarDoor,
.puzzleMarker-barrels {
    top: 23%;
    left: 45%;
}

.puzzleMarker-pokerBoard {
    top: 18%;
    left: 55%;
}

.puzzleMarker-cashRegister {
    top: 35%;
    left: 90%;
}

.puzzleMarker-directionalPad {
    top: 30%;
    left: 5%;
}

.puzzleMarker-dice {
    top: 83%;
    left: 32%;
}

.puzzleMarker-safe {
    top: 20%;
    left: 90%;
}

.puzzleMarker-jack,
.puzzleMarker-cameraJack {
    top: 50%;
    left: 10%;
    border: none;
    font-size: 35px;
}