.cashRegister {
    width: 100%;
    height: 80%;
    filter: sepia(.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.cashRegister_inputsContainer {
    position: relative;
    width: 100%;
    height: 255px;
    border: rgba(110, 78, 25, 0.8) 10px inset;
    background: rgba(110, 78, 25, 0.25);
    overflow-y: hidden;    
}

.cashRegister_input {
    position: absolute;
    bottom: 0;
    right: 25px;
    width: 150px;
    height: 92%;
    background: rgba(110, 78, 25, .75);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: .25em .2em .2em .2em;
    
    animation-name: slideUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.cashRegister_input-left {
    right: 200px
}

.cashRegister_bar {
    width: 14px;
    height: 60px;
    background: aliceblue;
    padding: unset;
    border: unset;
    border-radius: 2px;
}

.cashRegister_bar:hover {
    background: red;
}

.cashRegister_bar:focus {
    background: aliceblue;
}

.verticalBarContainer {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: 0 auto;
}

.cashRegister_bar-horizontal {
    width: 100px;
    height: 14px;
    display: block;
    margin: 5px auto;
}

.cashRegister_submit {
    margin: 1em;
    font-size: 1.5rem;
}