.safeAndControl {
    display: flex;
    justify-content: center;
    align-items: center;
/*    outline: 2px purple solid;*/
    max-width: 500px;
    filter: sepia(.75);
}

.safeControl_slider {
    transform: rotate(90deg);
    appearance: none;
    width: 200px;
    height: 5px;
    background: black;
    outline: none;
}

.safeControl_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgba(194, 143, 62, 1);
    border: 1px outset black;
    border-radius: 2px;
    box-shadow: 2px -2px 5px black;
    cursor: pointer;
}

.safeControl_slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgba(194, 143, 62, 1);
    border: 1px outset black;
    border-radius: 2px;
    box-shadow: 2px -2px 5px black;
    cursor: pointer;
}

.safeControl_slider::-webkit-slider-thumb:hover,
.safeControl_slider::-webkit-slider-thumb:focus {
    background: firebrick;
}

.safeControl_slider::-moz-range-thumb:hover,
.safeControl_slider::-moz-range-thumb:focus {
    background: firebrick;
}

.safeContainer {
    position: relative;
    border: 10px outset firebrick;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px black;
    background-image: url(../../../images/theme/brass-background.jpg)
}

.safe_doorOutline {
    width: 90%;
    height: 90%;
    border-radius: 5px;
    border: 3px inset black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.safe_inputArrow {
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 15px solid firebrick;
    margin-top: 2em;
}

.safe_input {
    border: 3px outset rgba(110, 78, 25, 1);
    border-radius: 50%;
    position: relative;
    width: 175px;
    height: 175px;
    margin: .5em 4em 3em 4em;
    background-image: url(../../../images/theme/brass-background.jpg);
    background-size: cover;
    color: aliceblue;
    filter: drop-shadow(2px 2px 10px black);
    transition: transform .25s;
}

.safe_input hr {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    border-top: 2px dashed rgba(110, 78, 25, 0.8);
}

.safe_numberContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .25em 0;
}

.safe_numberContainer-1 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.safe_numberContainer-2 {
    transform: translate(-50%, -50%) rotate(90deg);
}

.safe_numberContainer-3 {
    transform: translate(-50%, -50%) rotate(135deg);
}

.safe_bottomNumber {
    transform: rotate(180deg);
}

.safe_line-0 {
    transform: translate(-50%, -50%) rotate(22.5deg); 
}

.safe_line-1 {
    transform: translate(-50%, -50%) rotate(67.5deg); 
}

.safe_line-2 {
    transform: translate(-50%, -50%) rotate(112.5deg); 
}

.safe_line-3 {
    transform: translate(-50%, -50%) rotate(157.5deg); 
}